/* globals */
html,
body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.btn {
    background-color: lightblue;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

/* Form grid */
.grid-container {
    margin: 0px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* On hover */
.hovering {
    background-color: blue;
}

.selected {
    background-color: green;
}

/* UI */
.ui {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}